.form-row {
    padding-top: 2px;
}

input {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: transparent;
    border-radius: 4px;
}

.download-btn {
    background-color: #240747;
    color: white;
    border: 2px solid transparent;
    border-radius: 4px;
}